<h2>{{ name }}</h2>

<h3>Basic Stats</h3>

<table>
  <tr>
    <th>Population</th>
    <td>{{ population }}</td>
  </tr>
  <tr>
    <th>Total Wealth</th>
    <td>{{ wealth }}</td>
  </tr>
  <tr>
    <th>System of Government</th>
    <td>{{ systemOfGovernment }}</td>
  </tr>
</table>

<h3>Notable NPCs</h3>

<table>
  <tr>
    <th>Governing Body</th>
    <td>{{ governingBody }}</td>
  </tr>
  <tr>
    <th>Captain of the Guard</th>
    <td>{{ captainOfTheGuard }}</td>
  </tr>
</table>
